.heroes {
}

.card-spacing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 2vh;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10; /* number of lines to show */
  -webkit-box-orient: vertical;
}
